* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

a {
    color: rgba(78,211,109,1);
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    background: linear-gradient(141deg, #0153ff, #4ed36d);
    background-size: 400% 400%;
    -webkit-animation: BGAnimation 15s ease infinite;
    -moz-animation: BGAnimation 15s ease infinite;
    animation: BGAnimation 15s ease infinite;
    background-attachment: fixed;
    font-family: Arial;
}

@-webkit-keyframes BGAnimation {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
@-moz-keyframes BGAnimation {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}
@keyframes BGAnimation {
    0%{background-position:22% 0%}
    50%{background-position:79% 100%}
    100%{background-position:22% 0%}
}

.container {
    width: 650px;
    height: 400px;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    margin:auto;
    right:0;
}

.vue-slider-title {
    width: 100%;
    padding: 10px;
    background: #FFF;
    border-radius: 15px;
    color: #333;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.vue-slider-main {
    width: 100%;
    background: #333;
    height: 320px;
    border-radius: 20px;
    position: relative;
    top: 20px;
    overflow: hidden;
}

.vue-slider-arrows {
    position: absolute;
    width: 100%;
    height: 35px;
    top:0;
    bottom:0;
    left:0;
    margin:auto;
    right:0;
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}

.vue-slider-arrow {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgba(78,211,109,1);
    padding: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.vue-slider-arrow:hover {
    background: rgb(115, 250, 146);
}

.vue-slider-arrow img {
    width: 100%;
    height: 100%;
}

.vue-slider-arrow:first-child img {
    transform: rotate(180deg);
}

.vue-slider-arrow:last-child {
    margin-left: auto;
    order: 2;
}

.vue-slider-controllers {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.vue-slider-controllers-main {
    width: 30%;
    margin: 0 auto;
    display: flex;
}

.vue-slider-controller {
    width: 15px;
    height: 15px;
    background: rgba(255, 255, 255, 0.63);
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
}

.vue-slider-controller-full {
    width: 100%;
    height: 100%;
}

.active {
    background: rgba(78,211,109,1);
}

.vue-slider-controller:hover {
    background: rgba(78,211,109,1);
}

.vue-slider-slides {
    width: 100%;
    height: 100%;
    display: flex;
}

.vue-slider-slide {
    width: 100%;
    height: 100%;
    left: 0px;
    right: 0px;
    transition: 0.5s;
    position: absolute;
}

.vue-slider-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}